.idea
*.iml
target
hs_*.log
venv
.DS_Store
client/custom
release.properties
dependency-reduced-pom.xml
yarn-error.log
node_modules
yarn.lock
client/web/app/dist
client/web/lib/service/build
client/web/lib/ui/dist