<settings>
    <servers>
        <server>
            <id>promethistai</id>
            <username>deployer</username>
            <privateKey>${privateKey}</privateKey>
            <configuration>
                <scpArgs>-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null</scpArgs>
            </configuration>
        </server>
    </servers>
</settings>
